<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
	xmlns:rim="http://www.blackberry.com/ns/widgets" id="fairmanager-cordova-plugin-push" version="4.1.0">

	<name>PushPlugin</name>
	<author>Oliver Salzburg</author>

	<description>Provides services related to push notifications to the FairManager mobile app.</description>

	<license>MIT</license>

	<js-module src="www/PushNotification.js" name="PushNotification">
		<clobbers target="PushNotification" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=7.0.0" />
	</engines>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PushPlugin">
				<param name="android-package" value="eu.fairmanager.mobile2.PushPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="eu.fairmanager.mobile2.PushHandlerActivity" android:exported="true"/>
			<service android:name="eu.fairmanager.mobile2.ListenerService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
					<action android:name="com.google.firebase.MESSAGING_EVENT" />
				</intent-filter>
			</service>
		</config-file>

		<source-file src="src/android/eu/fairmanager/mobile2/ListenerService.java" target-dir="src/eu/fairmanager/mobile2" />
		<source-file src="src/android/eu/fairmanager/mobile2/PushHandlerActivity.java" target-dir="src/eu/fairmanager/mobile2" />
		<source-file src="src/android/eu/fairmanager/mobile2/PushPlugin.java" target-dir="src/eu/fairmanager/mobile2" />

		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

		<framework src="com.google.firebase:firebase-core:+" />
		<framework src="com.google.firebase:firebase-messaging:+" />
		<framework src="com.google.gms:google-services:+" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PushPlugin">
				<param name="ios-package" value="PushPlugin"/>
			</feature>
		</config-file>

		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>remote-notification</string>
			</array>
		</config-file>
		<config-file target="*-Debug.plist" parent="aps-environment">
			<string>development</string>
		</config-file>
		<config-file target="*-Release.plist" parent="aps-environment">
			<string>production</string>
		</config-file>

		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/PushPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/PushPlugin.h" />
	</platform>

	<!-- windows8 -->
	<platform name="windows">
		<js-module src="src/windows/PushPluginProxy.js" name="PushPlugin">
			<merges target="" />
		</js-module>
	</platform>

</plugin>
