<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="fairmanager-cordova-plugin-push" version="4.2.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<name>Push Plugin</name>
	<description>Provides services related to push notifications to the FairManager mobile app.</description>
	<license>MIT</license>
	<author>Oliver Salzburg</author>
	<keywords>push</keywords>

	<repo>https://github.com/fairmanager-cordova/plugin-push</repo>
	<issue>https://github.com/fairmanager-cordova/plugin-push/issues</issue>

	<engines>
		<engine name="cordova" version=">=8.0.0"/>
		<engine name="cordova-android" version=">=7.1.1"/>
		<engine name="cordova-ios" version=">=4.5.5"/>
	</engines>

	<js-module src="www/push.js" name="Push">
		<clobbers target="cordova.plugins.Push" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Push">
				<param name="android-package" value="eu.fairmanager.plugins.Push"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="eu.fairmanager.mobile2.PushHandlerActivity" android:exported="true"/>
			<service android:name="eu.fairmanager.mobile2.ListenerService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
					<action android:name="com.google.firebase.MESSAGING_EVENT" />
				</intent-filter>
			</service>
		</config-file>

		<source-file src="src/android/eu/fairmanager/plugins/push/ListenerService.java" target-dir="src/eu/fairmanager/plugins/push/" />
		<source-file src="src/android/eu/fairmanager/plugins/push/PushHandlerActivity.java" target-dir="src/eu/fairmanager/plugins/push/" />
		<source-file src="src/android/eu/fairmanager/plugins/push/Push.java" target-dir="src/eu/fairmanager/plugins/push/" />

		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

		<framework src="com.google.firebase:firebase-core:+" />
		<framework src="com.google.firebase:firebase-messaging:+" />
		<framework src="com.google.gms:google-services:+" />
	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Push">
				<param name="ios-package" value="FMPush"/>
			</feature>
		</config-file>

		<config-file target="*-Info.plist" parent="UIBackgroundModes">
			<array>
				<string>remote-notification</string>
			</array>
		</config-file>
		<config-file target="*-Debug.plist" parent="aps-environment">
			<string>development</string>
		</config-file>
		<config-file target="*-Release.plist" parent="aps-environment">
			<string>production</string>
		</config-file>

		<header-file src="src/ios/FMPush.h" />
		<source-file src="src/ios/FMPush.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<source-file src="src/ios/AppDelegate+notification.m" />
	</platform>

	<platform name="windows">
		<js-module src="src/windows/PushPluginProxy.js" name="PushPlugin">
			<merges target="" />
		</js-module>
	</platform>
</plugin>
